.register-panel {
    background-color: rgba(255, 255, 255, 0.548);
    border-radius: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 350px;
    padding: 0 5vw 0 5vw ;
    box-shadow: 0 0 10px 0 rgba(141, 141, 141, 0.589);
    transform: translate(-50%, -50%);
}

.register-panel .title {
    margin-top: 2vw;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

.register-panel .wrapper {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    justify-content: space-between;
}

.register-panel .wrapper .inputs {
    padding: 5px 0 5px 0;
    margin: 10px 0 0 0 ;
    min-width: 250px;
    display: flex;
    justify-content: space-between;
}

.register-panel .wrapper input {
    flex: 1;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid rgb(45, 107, 78);
    outline: none;
    padding: 5px;
    text-decoration: none;
}

.register-panel .wrapper input[type="file"] {
    display: none;
    width: 100%;
} 

.register-panel .wrapper .inputs .custom-file-upload {
    flex: 1;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid rgb(45, 107, 78);
    outline: none;
    font-size: 14px;
    color: rgb(58, 58, 58);
    padding: 5px;
    text-decoration: none;
}

.register-panel .wrapper div span {
    padding: 5px;
    min-width: 80px;
}

.register-panel .register .register-btn{
    color: #fff;
}

.register-panel .register .back-to-login-btn {
    padding: 5px 0 5px 0;
    margin: 10px 0 0 0;
    border-radius: 5px;
    min-width: 250px;
    text-align: center;
    opacity: 0.85;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    background: #fff;
}

.register-panel .register .back-to-login-btn:hover,
.register-panel .register .register-btn:hover {
    opacity: 1;
}