:root {
  --off-white: #fafafa;
  background: url('./components/Login/background.jpeg') no-repeat center center fixed;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

.app {
  background-color: rgb(250, 250, 249);
}

.content {
  /* width: 80%; */
  position: relative;
  margin: 0px auto;
}

.tasks-view {
  margin: 65px auto;
}

/* autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: rgb(0, 0, 0) !important;
}