:root {
  --off-white: #fafafa;
  font-family: 'Roboto', sans-serif;
}

.app {
  background-color: rgb(250, 250, 249);
}

.content {
  /* width: 80%; */
  position: relative;
  top: 65px;
  margin: 0px auto;
  z-index: -999;
}

.tasks-view {
  margin: 65px auto;
}